@font-face {
  font-family: 'Amiamie';
  src: url('@/assets/fonts/AMIAMIE-REGULAR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amiamie';
  src: url('@/assets/fonts/AMIAMIE-LIGHTITALIC.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AmiamieRound';
  src: url('@/assets/fonts/AMIAMIE-REGULARROUND.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
