@import './base.css';

:root {
  font-family: 'Amiamie', sans-serif;
  --color-highlight-background: #DBEFF8;
  --color-link-background: #FA9127;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}
